################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Application/obj
/Application/bin
/Core/obj
/Core/bin
/EntityFrameworkCore/obj
/EntityFrameworkCore/bin
/WebCore/obj
/WebCore/bin
/WebHost/obj
/WebHost/bin
/.vs
