<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- flyframework -->
		<add key="flyframework" value="https://nuget.faceman.cn/v3/index.json" protocolVersion="3" />
		<add key="gct" value="https://git.gct-china.com/api/v4/projects/60/packages/nuget/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<flyframework>
			<add key="username" value="faceman" />
			<add key="cleartextpassword" value="oE59UquW47uBs1ndD7km" />
		</flyframework>
	</packageSourceCredentials>
</configuration>